.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.search-container {
    background-color: white;
    padding: 16px;
}

.page-button {
    border-radius: 4px !important;
    padding: 0 !important;
    width: 2rem;
    height: 2rem;
}
